USE [RestaurantManagement]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[FullName] [nvarchar](1000) NOT NULL,
	[Email] [nvarchar](1000) NULL,
	[Tell] [nvarchar](200) NULL,
	[DateCreated] [smalldatetime] NULL,
 CONSTRAINT [PK_Account_1] PRIMARY KEY CLUSTERED 
(
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetails]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[TableID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Discount] [float] NULL,
	[Tax] [float] NULL,
	[Status] [bit] NOT NULL,
	[CheckoutDate] [smalldatetime] NULL,
	[Account] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_FoodCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Unit] [nvarchar](100) NOT NULL,
	[FoodCategoryID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_FoodStuffs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](1000) NOT NULL,
	[Path] [nvarchar](3000) NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[RoleID] [int] NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[Actived] [bit] NOT NULL,
	[Notes] [nvarchar](3000) NULL,
 CONSTRAINT [PK_RoleAccount] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[AccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Status] [int] NOT NULL,
	[Capacity] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'4', N'123456', N'ch', N'ch', N'4543.545.444', CAST(N'2025-10-27T02:55:00' AS SmallDateTime))
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'channe', N'123456', N'trang', N'trang@gmail.com', N'0978.936.238', CAST(N'2025-10-25T00:27:00' AS SmallDateTime))
INSERT [dbo].[Account] ([AccountName], [Password], [FullName], [Email], [Tell], [DateCreated]) VALUES (N'chu', N'123456', N't', N'ểgrèdf', N'5345.456.465', CAST(N'2025-10-27T02:54:00' AS SmallDateTime))
GO
SET IDENTITY_INSERT [dbo].[BillDetails] ON 

INSERT [dbo].[BillDetails] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (1, 1, 3, 2)
INSERT [dbo].[BillDetails] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (2, 1, 4, 1)
INSERT [dbo].[BillDetails] ([ID], [InvoiceID], [FoodID], [Quantity]) VALUES (3, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[BillDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (1, N'Hóa đơn thanh toán', 5, 150000, 0.05, 0, 1, CAST(N'2025-11-01T00:00:00' AS SmallDateTime), N'tdquy')
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (2, N'Hoa don', 1, 40000, 0, 0, 0, CAST(N'2025-11-01T00:00:00' AS SmallDateTime), N'tdquy')
INSERT [dbo].[Bills] ([ID], [Name], [TableID], [Amount], [Discount], [Tax], [Status], [CheckoutDate], [Account]) VALUES (3, N'hd', 5, 70000, 0.05, 0, 1, CAST(N'2025-11-01T00:00:00' AS SmallDateTime), N'tdquy')
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (1, N'Khai vị', 1)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (2, N'vịt', 1)
INSERT [dbo].[Category] ([ID], [Name], [Type]) VALUES (3, N'Gà', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (1, N'Rau muống xào tỏi', N'Đĩa', 6, 20000, NULL)
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (3, N'Cơm chiên Dương châu', N'Đĩa lớn', 4, 40000, N'4 người ăn')
INSERT [dbo].[Food] ([ID], [Name], [Unit], [FoodCategoryID], [Price], [Notes]) VALUES (4, N'Ếch thui rơm', N'Đĩa', 2, 70000, NULL)
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (1, N'Adminstrator', NULL, NULL)
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (2, N'Kế toán', NULL, NULL)
INSERT [dbo].[Role] ([ID], [RoleName], [Path], [Notes]) VALUES (3, N'Nhân viên thanh toán', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'leleu', 0, NULL)
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'lgcong', 0, NULL)
INSERT [dbo].[RoleAccount] ([RoleID], [AccountName], [Actived], [Notes]) VALUES (1, N'oke', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Table] ON 

INSERT [dbo].[Table] ([ID], [Name], [Status], [Capacity], [IsDeleted]) VALUES (1, N'01', 1, 4, 0)
INSERT [dbo].[Table] ([ID], [Name], [Status], [Capacity], [IsDeleted]) VALUES (2, N'02', 0, 4, 0)
INSERT [dbo].[Table] ([ID], [Name], [Status], [Capacity], [IsDeleted]) VALUES (4, N'03', 0, 4, 0)
SET IDENTITY_INSERT [dbo].[Table] OFF
GO
ALTER TABLE [dbo].[BillDetails] ADD  CONSTRAINT [DF_InvoiceDetails_Amount]  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Food] ADD  CONSTRAINT [DF_Food_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Table] ADD  CONSTRAINT [DF_Table_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceInfo_FoodStuffs] FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([ID])
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_InvoiceInfo_FoodStuffs]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceInfo_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Bills] ([ID])
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_InvoiceInfo_Invoice]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[Table] ([ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Invoice_Table]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_FoodStuffs_FoodCategory] FOREIGN KEY([FoodCategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_FoodStuffs_FoodCategory]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Account] FOREIGN KEY([AccountName])
REFERENCES [dbo].[Account] ([AccountName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Account]
GO
ALTER TABLE [dbo].[RoleAccount]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccount_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[RoleAccount] CHECK CONSTRAINT [FK_RoleAccount_Role]
GO
/****** Object:  StoredProcedure [dbo].[GetBillByDateRange]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetBillByDateRange]
@StartDate datetime,@EndDate Datetime
as
select  ID, 
        TableID,
        Amount,
        Discount,
        Tax,
        (Amount + Tax - Discount) AS ThucThu,
        CheckoutDate
from Bills
where CheckoutDate>=@StartDate and CheckoutDate<=@EndDate
GO
/****** Object:  StoredProcedure [dbo].[GetBillByID]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetBillByID]
@BillID int
as
select FoodID,Name,Quantity,Price,(Price*Quantity) as ThanhTien
from Food a,BillDetails b
where a.ID= b.FoodID and InvoiceID=@BillID
GO
/****** Object:  StoredProcedure [dbo].[GetDateByAccount]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   proc [dbo].[GetDateByAccount] 
@AccountName nvarchar(1000) 
as 
select distinct cast(CheckOutDate as date) as Ngay 
from Bills 
where Account=@AccountName AND CheckoutDate IS NOT NULL
GO
/****** Object:  StoredProcedure [dbo].[GetDetailsByAccountDate]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[GetDetailsByAccountDate]
    @AccountName nvarchar(1000),
    @Date date
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH BillsInDate AS (
        SELECT ID, TableID, Amount, Discount, Tax, CheckoutDate
        FROM dbo.Bills
        WHERE [Account] = @AccountName
          AND CAST(CheckoutDate AS date) = @Date
    )
    SELECT 
        b.ID                         AS BillID,
        b.TableID,
        b.CheckoutDate,
        f.Name                       AS TenMon,
        bd.Quantity                  AS SoLuong,
        f.Price                      AS DonGia,               -- Price từ Food
        (f.Price * bd.Quantity)      AS ThanhTienHang,
        CAST((b.Amount + ISNULL(b.Tax,0) - ISNULL(b.Discount,0)) AS decimal(18,2)) AS TongTienHD
    FROM BillsInDate b
    JOIN dbo.BillDetails bd ON bd.InvoiceID = b.ID
    JOIN dbo.Food        f  ON f.ID = bd.FoodID
    ORDER BY b.ID, f.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[GetSummaryByAccount]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[GetSummaryByAccount]
    @AccountName nvarchar(1000)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        COUNT(*) AS SoHD,
        CAST(ISNULL(SUM(CAST(b.Amount AS float) + ISNULL(b.Tax,0) - ISNULL(b.Discount,0)),0) AS decimal(18,2)) AS TongTien
    FROM dbo.Bills b
    WHERE b.[Account] = @AccountName;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertAccount]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAccount]
    @AccountName NVARCHAR(50),
    @Password    NVARCHAR(255),
    @FullName    NVARCHAR(100),
    @Email       NVARCHAR(100),
    @Tell        NVARCHAR(20),
    @RoleID      INT,
    @Actived     BIT
AS


        INSERT INTO Account (AccountName, [Password], FullName, Email, Tell, DateCreated)
        VALUES (@AccountName, @Password, @FullName, @Email, @Tell, GETDATE());

        INSERT INTO RoleAccount (RoleID, AccountName, Actived)
        VALUES (@RoleID, @AccountName, @Actived);

GO
/****** Object:  StoredProcedure [dbo].[InsertCategory]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertCategory]
@ID int output,@Name nvarchar(1000),@Type int
as
insert into Category (Name,[Type])
values (@Name,@Type)
set @ID = SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[InsertFood]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InsertFood]
@ID int output,
@Name nvarchar(3000), 
@Unit nvarchar(3000), 
@FoodCategoryID int, 
@Price int,  
@Notes nvarchar(3000)
AS
	INSERT INTO Food (Name, Unit, FoodCategoryID, Price,  Notes)
	VALUES ( @Name, @Unit, @FoodCategoryID, @Price,  @Notes)

	SELECT @ID = SCOPE_IDENTITY()

GO
/****** Object:  StoredProcedure [dbo].[InsertRole]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[InsertRole]
@ID int output,
@Rolename nvarchar(1000),
@Path nvarchar(1000),
@Noes nvarchar(1000)
as
insert into Role (RoleName,Path,Notes) values (@Rolename,@Path,@Noes)
select @ID=SCOPE_IDENTITY();
GO
/****** Object:  StoredProcedure [dbo].[ResetPass]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ResetPass]
@AccountName nvarchar(1000)
--@Pass nvarchar(100)
as
update Account
set Password=N'123456'
where AccountName=@AccountName
GO
/****** Object:  StoredProcedure [dbo].[SelectRoleByNameAccount]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[SelectRoleByNameAccount]
@AccountName nvarchar(1000)
as
select ID,
		RoleName,
		Path,
		a.Notes, 
		case when b.AccountName is null then cast(0 as bit) else cast (1 as bit) end as Assigned,
		Actived = cast(isnull(Actived,0) as bit)
from Role a
left join RoleAccount b
on b.RoleID=a.ID
and b.AccountName=@AccountName
GO
/****** Object:  StoredProcedure [dbo].[UpdateAccount]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[UpdateAccount]
    @OldAccountName NVARCHAR(100),
    @NewAccountName NVARCHAR(100),
    @Password       NVARCHAR(200),
    @FullName       NVARCHAR(1000),
    @Email          NVARCHAR(1000) = NULL,
    @Tell           NVARCHAR(200)  = NULL,
    @RoleID         INT,
    @Actived        BIT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- Chặn trùng tên 
        IF @OldAccountName <> @NewAccountName
           AND EXISTS (SELECT 1 FROM dbo.Account WHERE AccountName = @NewAccountName)
        BEGIN
            ;THROW 50002, N'Tên tài khoản đã tồn tại. Chọn tên khác.', 1;
        END

        UPDATE dbo.Account
           SET AccountName = @NewAccountName,
               [Password]  = @Password,
               FullName    = @FullName,
               Email       = @Email,
               Tell        = @Tell
         WHERE AccountName = @OldAccountName;

        MERGE dbo.RoleAccount AS tgt
        USING (SELECT @NewAccountName AS AccountName,
                      @RoleID        AS RoleID,
                      @Actived       AS Actived) AS src
           ON (tgt.AccountName = src.AccountName AND tgt.RoleID = src.RoleID)
        WHEN MATCHED THEN
            UPDATE SET Actived = src.Actived
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (RoleID, AccountName, Actived)
            VALUES (src.RoleID, src.AccountName, src.Actived);

        COMMIT;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateFood]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateFood]
@ID int,@Name nvarchar(1000),@Unit nvarchar(100),@FoodCategoryID int,@Price int,@Notes nvarchar(3000)
as
update food
set Name=@Name,
Unit=@Unit,
FoodCategoryID=@FoodCategoryID,
Price=@Price,
Notes=@Notes
where ID=@ID
if @@ERROR <> 0
return 0
else return 1
GO
/****** Object:  StoredProcedure [dbo].[UpdateRoleForAccount]    Script Date: 10/31/2025 1:15:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[UpdateRoleForAccount]
@AccountName nvarchar(1000),
@SelectedRoles nvarchar(max),
 @ActiveRoles    nvarchar(MAX)
as
declare @Selected table(ID int);
declare @Actived table(ID int);

insert into @Selected(ID)
select try_cast(value as int)
from string_split(@SelectedRoles,',')
where TRY_CAST (value as int) is not null;

insert into @Actived(ID)
select try_cast(value as int)
from string_split(@ActiveRoles,',')
where TRY_CAST (value as int) is not null;
--Bỏ role
delete from RoleAccount 
	where AccountName=@AccountName and
		not exists(select 1 from @Selected where ID=RoleID);
--thêm role mới đc gán
insert into RoleAccount(AccountName,RoleID,Actived)
select @AccountName,ID,case 
				when exists(select 1 from @Actived a where a.ID=s.ID)
				then cast(1 as bit)
				else cast(0 as bit)
				end
from @Selected s
where not exists( select 1 from RoleAccount where AccountName = @AccountName and RoleID = ID);
--Sửa actived
update RoleAccount
set Actived= case 
				when exists(select 1 from @Actived a where a.ID=RoleID)
				then cast(1 as bit)
				else cast(0 as bit)
				end
from RoleAccount
where AccountName=@AccountName and exists(select 1 from @Selected s where s.ID=RoleID); 
	
select * from RoleAccount
GO





--Lab6
create or alter proc Category_GetAll
as
select*from Category
go

create or alter proc Food_GetAll
as
select*from Food
go
create or alter proc Invoice_GetAll
as
select*from Bills
go
Create or alter proc Account_GetAll
as
select * from Account
go
Create or alter proc Role_GetAll
as
select * from Role
go
Create or alter proc RoleAccount_GetAll
as
select * from RoleAccount
Create or alter proc Account_GetAll
as
select * from Account
--t,x,s Category
create or alter proc Category_InsertUpdateDelete
	@ID int output,
	@Name nvarchar(200),
	@Type int,
	@Action int
as
if @Action=0
begin		
	insert into Category (Name,Type)
	values (@Name,@Type)
	set @ID=@@IDENTITY
end
else if @Action=1
begin 
	update Category
	set Name=@Name,Type=@Type
	where ID=@ID
end
else if @Action=2
begin 
	delete from Category where ID=@ID
end
go
--t,s,x food
create or alter proc Food_InsertUpdateDelete
	@ID int output,
	@Name nvarchar(1000),
	@Unit nvarchar(100),
	@FoodCategoryID int,
	@Price int,
	@Notes nvarchar(3000),
	@Action int
as
if @Action=0
begin		
	insert into Food
	values (@Name,@Unit,@FoodCategoryID,@Price,@Notes)
	set @ID=@@IDENTITY
end
else if @Action=1
begin 
	update Food
	set Name=@Name,Unit=@Unit,FoodCategoryID=@FoodCategoryID,Price=@Price,Notes=@Notes
	where ID=@ID
end
else if @Action=2
begin 
	delete from Food where ID=@ID
end
go

select * from Account

create or alter proc Account_InsertUpdateDelete
@AccountName nvarchar(100),
@Password nvarchar(200),
@FullName nvarchar(1000),
@Email nvarchar(1000),
@Tell nvarchar(200),
@DateCreated smalldatetime = Null,
@Action int
as
if @Action=0
	begin
	if not exists (select 1 from Account where AccountName=@AccountName)
		insert into Account values(@AccountName,@Password,@FullName,@Email,@Tell,isnull(@DateCreated,Getdate()));
	else 
		 RAISERROR (N'Tài khoản đã tồn tại!', 16, 1);
	end
else if (@Action=1)
	begin
	update Account
	set Password=@Password,
		FullName=@FullName,
		Email=@Email,
		Tell=@Tell
	where AccountName=@AccountName;
	end
else if(@Action=2)
	begin
	delete from Account where AccountName=@AccountName;
	end
go

create or alter proc Invoice_InsertUpdateDelete
@ID int output,
@Name nvarchar(1000),
@TableID int,
@Total float,
@Discount float,
@Tax float,
@Status bit,
@AccountID int,
@CheckoutDate smalldatetime,
@Action int
as
if @Action = 0
	begin
	insert into Bills values(isnull(@Name,N'Hóa đơn thanh toán'),@TableID,isnull(@Total,0),isnull(@Discount,0),isnull(@Tax,0),@Status,@AccountID,isnull(@CheckoutDate,getdate()));
	set @ID=SCOPE_IDENTITY();
	end
else if (@Action=1)
	begin
	update Bills
	set Name=@Name,TableID=@TableID,Amount=@Total,Discount=@Discount,Tax=@Tax,Status=@Status,Account=@AccountID
	where ID=@ID;
	end
else if (@Action=2)
	 begin
	 delete from Bills where ID=@ID;
	 end
go


CREATE OR ALTER PROCEDURE SelectRolesAccount
    @AccountName NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  r.ID,
            r.RoleName,
            r.Path,
            r.Notes,
            Assigned = CAST(CASE WHEN ra.AccountName IS NULL THEN 0 ELSE 1 END AS bit),
            Actived  = CAST(ISNULL(ra.Actived, 0) AS bit)
    FROM dbo.Role AS r
    LEFT JOIN dbo.RoleAccount AS ra
           ON ra.RoleID = r.ID
          AND ra.AccountName = @AccountName
    ORDER BY r.RoleName;
END
